$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$navy: #28395c;
$yellow: #ffeb8e;
$grey: #8f9194;
$white: #fff;

// NOTE HEADER STYLES HERE NOTE //
// full header area with sides and center
header {
  background: url('../header-sides.svg');
  position: fixed; // setting fixed position so it remains at top during scrolling
  top: 0; // will be at very top of window
  width: 100%;
  z-index: 3; // setting on top of body content
}

// center header image with name
.header-center {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

// NOTE BUTTON STYLES HERE NOTE //
// container div of buttons
nav {
  background: $white;
  border: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed; // setting fixed position so it remains at top during scrolling
  top: 93px; // set height below header
  width: 100%;
  z-index: 3; // setting on top of body content
}

// center/no margin, add padding to bottom of nav bar, set width
.button-holder {
  margin: 0 auto;
  padding-bottom: 12px;
  width: 395px;
}

// move About-me to left so truely centered
.about-btn {
  text-align: left;
}

// move Contact-me to right so truely centered
.contact-btn {
  text-align: right;
}

// add styles to button
.btn {
  background-color: $white !important;
  border: 0 !important;
  color: $navy !important;
  font-size: 16px;
  padding: 0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  width: 95px;
}

// when button is hovered, active, or focus make font different
.btn:hover, .btn:active, .btn:focus {
  font-weight: bolder;
  outline: none !important;
}



// NOTE BREAK BAR STYLE NOTE //
// center, no margin, no padding, set width to be same as nav bar
// .break-bar {
//   display: block;
//   margin: 0 auto;
//   padding: 0;
// }



// NOTE BODY CONTENT ALL HERE NOTE//
// NOTE BODY CONTENT ALL HERE NOTE//
// NOTE BODY CONTENT ALL HERE NOTE//
// NOTE content holder for all divs within NOTE//
.content-holder {
  background: url('../snowscenenavyfilter1.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

// NOTE all divs with content except about me and portfolio NOTE //
.landing-image-holder, .spacing-holder, .skills-holder, .contact-me-holder, .farewell-div-holder {
  padding: 24px;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  h2 {
    color: $white;
    font-size: 22px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
  }

  h3 {
    color: $white;
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  p {
    color: $white;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
  }

}

// NOTE landing image holder NOTE //
.landing-image-holder {
  height: 500px;
  margin-top: 115px;
  text-align: center;

  h2 {
    color: $white;
    font-size: 22px;
    font-weight: bold;
    line-height: 500px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
    text-align: center;
  }
}

// NOTE spacing holder NOTE //
.spacing-holder {
  background: $white;
  // background-color: rgba(255,255,255,0.3);
  clear: both;
  height: 50px;
  padding: 0;
  width: 100%;
}

// NOTE about me NOTE //
.about-me-holder {
  background: url('../snowscenenavyfilter2.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 24px;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  .about-me {
    margin: 0 auto;
    width: 80%;
  }

  h2 {
    color: $navy;
    font-size: 22px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
  }

  h3 {
    color: $navy;
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  p {
    color: $navy;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.my-photo {
  border: 2px solid $white;
  height: 175px;
  width: 175px;
}

// NOTE skill specific stuff NOTE //
.skills-items-here {
  width: 100%;
  padding: 8px 0 8px 0;
}

.skills-item {
  color: $white;
  display: block;
  float: left;
  padding: 8px 0 8px 0;
  text-align: center;
  width: 33.3%;
}



// NOTE portfolio NOTE //
.portfolio-holder {
  background-color: $navy;
  background-size: cover;
  height: 100%;
  padding: 24px;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.portfolio {
    margin: 0 auto;
    width: 80%;

  h2 {
    color: $white;
    font-size: 22px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
  }

  h3 {
    color: $white;
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  p {
    color: $white;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

// TODO make project max height, make description text smaller/scrollable TODO //
.project-holder {
  background-color: $white;
  display: inline-block;
  height: 375px;
  margin: 16px;
  overflow-y: scroll;
  padding: 8px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  vertical-align: middle;
  width: 300px;

  h3 {
    color: $navy;
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  p {
    color: $navy;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 8px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.project-holder:hover, .project-holder:focus, .project-holder:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-image {
  width: 75%;
}

// NOTE contact me holder NOTE //
.contact-me-holder {
  height: 350px;
}

.contact-image {
  height: 70px;
  margin: 8px;
}

// NOTE FOOTER STYLE NOTE //
footer {
  background-color: $navy;
  // bottom: 0; // fixed position at the bottom of the scren
  clear: both;
  color: $white;
  font-size: 14px;
  height: 36px;
  padding: 11px;
  // position: fixed; // uses the bottom location
  text-align: center;
  width: 100%; // keeps it the width of the page
  // z-index: 3;
}
